body {
	background-color: #161516;
	color: white;
}

/* NAVBAR */
nav {
	background-color: #333;
	padding-right: 50px;
	font-family: Helvetica;
}

#navTitle {
	float: left;
	margin: 10px 0 0 150px;
	color: white;
	font-size: 28px;
	font-family: Georgia, serif;
}

#navList {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-element {
	display: block;
	float: right;
	margin-right: 20px;
	padding: 14px 16px;
	font-size: 26px;
  color: white;
  text-align: center;
  text-decoration: none;
	cursor: pointer;
}

.nav-element:hover {
  background-color: #111;
}

/*MAIN CONTENT*/
#content {
	display: flex;
	width: 100%;
	align-items: center;
}

/* HOME CONTENT */
#home-container {
	margin: auto;
}
#img-home {
	margin-top: 50px;
	border: solid gray 1px;
}
#home-heading {
	text-align:	center;
}

/* MENU CONTENT */

#menu-container {
	display: grid;
	margin: auto;
	padding-top: 50px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 80px;
	grid-row-gap: 20px;
}

#menu-container img {
	width: 220px;
	height: 220px;
	border-radius: 200px;
}

#menu-container p {
	text-align: center;
}

/*CONTACT CONTENT*/
#contact-container {
	margin: 100px auto;
	border: solid gray 1px;
	padding: 20px 40px;
	background-color: #232323;
	font-size: 24px;
	font-family: Georgia, serif;
}

#contact-container a {
	text-decoration: none;
	color: lightblue
}
